[client]
port=3306

[mysql]
default-character-set=utf8

[mysqld]
port=3306
pid-file	= /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
character-set-server=utf8
sql-mode=NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
bind-address = 0.0.0.0
server-id = 1
log-bin = /var/log/mysql/mysql-bin
max_allowed_packet = 500M

## open slow log
##slow_query_log=1
##slow_query_log_file=/var/log/mysql/slow.log
##long_query_time=1

open_files_limit = 102400
max_connections=300
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 256M
innodb_log_buffer_size = 8M
innodb_buffer_pool_size = 256M

