[client]
port=3306
[mysql]
default-character-set=utf8

[mysqld]
port=3306
pid-file	= /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
character-set-server=utf8
sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
bind-address = 0.0.0.0
server-id = 1
log-bin = /var/log/mysql/mysql-bin
max_allowed_packet = 500M
